:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62, 5%;
}
body {
  font-size: 1.6rem;
  background: url("images/bg-intro-desktop.png");
  background-color: var(--primary-red);
}
.wrapper {
  display: grid;
  place-items: center;
  min-height: 96vh;
}
.container {
  display: flex;
  max-width: 70%;
  align-items: center;
  height: 1000px;
  max-width: 1300px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  padding: 2rem;
}
.program-title {
  color: #fff;
  font-weight: 700;
  line-height: 3.5rem;
  font-size: 2.8rem;
}
.copy-text {
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-top: 1.2rem;
}
.form-container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.banner {
  background-color: var(--accent-blue);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  padding: 1rem;
  box-shadow: 0px 7px 0px 0px rgba(66, 68, 90, 0.2);
  margin-bottom: 2rem;
}
.banner span {
  font-weight: 700;
}
form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 0.2);
  height: 500px;
}
.input-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
form input {
  height: 3rem;
  border-radius: 0.3rem;
  border: solid rgba(185, 182, 211, 0.3 ) .2em;
  padding-left: 1.5rem;
  line-height: 3rem;
  font-weight: 600;
  width: 100%;
}
form input:focus{
    outline: none !important;
    border-color: var(--accent-blue);
}
.warning-input{
    border-color: var(--primary-red);
}
.warning-input::placeholder{
    color: var(--primary-red);
}
.warning-msg{
    color: var(--primary-red);
    align-self: flex-end;
    font-size: .7rem;
    font-weight: 500;
    font-style: italic;
}
.error-icon{
    position: absolute;
    right: 1rem;
    padding-top: .5rem;
}
button {
  height: 3.5rem;
  border: none;
  background-color: var(--primary-green);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.3rem;
  border-bottom: 4px solid rgb(51, 183, 124);
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.form-text {
  font-size: 0.7rem;
  text-align: center;
  color: var(--neutral-grayish-blue);
}
.form-text > span {
  color: var(--primary-red);
  font-weight: 700;
}
.visible{
    display: block;
}
@media screen and (max-width: 1000px) {
    .container{
        flex-direction: column;
        height: auto;
    }
    .text-container, .form-container{
        width: 100%;
    }
    .text-container{
        margin-top: 2rem;
        align-items: center;
        text-align: center;
    }
    .program-title{
        font-size: 2rem;
    }
    .banner{
        padding: 1.3rem 3rem;
    }
}
